* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(255, 63, 108);
    --border-color: rgb(236, 233, 233);
}

/* top Header */
body {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.header {
    width: 100%;
}

.container {
    width: 1100px;
    min-height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: space-between;

}

.process {
    color: #696B79;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.process span {
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 3px solid var(--primary-color);
}

.flex {
    display: flex;
}

/* cart */

.cart {
    width: 100%;
    margin-block: 30px;
}

.mcart {

    width: 950px;
    min-height: 100px;
    margin: 0 auto;
}

.lcart {
    border-top: 1px solid rgb(236, 233, 233);
    width: 610px;
    border-right: 1px solid rgb(197, 187, 187);
    min-height: 200px;
    flex-wrap: wrap;


}

.rcart {
    border-top: 1px solid rgb(236, 233, 233);
    width: 350px;
    flex-direction: column;
    padding: 10px 10px;
}

.adrs {

    margin: 30px 20px 4px 4px;
    width: 100%;
    height: 68px;
    border-radius: 3px;
    border: 1px solid rgb(212, 204, 204);
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

p {
    font-size: 13px;
    line-height: 20px;
}


.primary-btn {

    background-color: white;
    border-radius: 2px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    font-size: 12px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.primary-btn:hover {
    background-color: rgb(253, 223, 223);
}

.offer {
    margin: 5px 20px 4px 4px;
    width: 100%;
    height: 100px;
    border-radius: 3px;
    border: 1px solid rgb(212, 204, 204);
    align-items: start;
    padding: 10px 10px 0 10px;
    flex-direction: column;
    gap: 6px;
}

.select {
    margin: 5px 20px 4px 4px;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    flex-direction: row;

}

.select p {
    font-weight: bold;
    font-size: 12px;
}

.select .sl p {
    font-weight: bold;
    font-size: 14px;
}


.checkmark:checked {
    accent-color: red;
    background-color: aquamarine;
}

.product {
    margin: 5px 20px 4px 4px;
    width: 100%;
    min-height: 100px;
    border-radius: 3px;
    border: 1px solid rgb(212, 204, 204);
    align-items: start;
    padding: 10px 10px 10px 10px;
    flex-direction: row;
    gap: 6px;
}

.wish {
    margin: 5px 20px 4px 4px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(212, 204, 204);
    align-items: start;
    padding: 10px 10px 10px 10px;
    flex-direction: row;
    gap: 6px;
}

.pro-btn {
    border: none;
    background-color: #e5e5ee;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
}

/* Rcart */
.pstyle {
    font-weight: bold;
    font-size: 13px;
    color: rgb(102, 101, 101);
}

.rcart p {
    font-weight: bold;
    font-size: 12px;
}

.place-btn {
    color: white;
    background-color: var(--primary-color);
}

.place-btn:hover {
    background-color: rgb(253, 223, 223);
    color: var(--primary-color);
    ;
}

.r-box {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 1px solid rgb(236, 233, 233);
}

.r2 p {
    font-weight: 400;
}

.pink {
    color: var(--primary-color);
}

.green {
    color: rgb(5, 191, 5);
}

.fot {
    width: 100%;
    border-top: 1px solid rgb(212, 204, 204);
}

.finner {

    width: 950px;
    height: 50px;
    margin: 0 auto;
}